h1{
    font-size: 27pt;
}

p{
    font-size: 15pt;
}

a{
    color: #000000;
    text-decoration: none;
}

.container{
    width: 80%;
}

.background{
    width: 100%;
    background-color: #f7911d;
    padding: 5px 0 50px 0;
    margin: 10px 0 0 0;
}

input, select{
    width: 100%;
}

.search-btn{
    width: 60%;
}

#map { 
    height: 500px; 
    width: 70%;
    margin-top: 70px;
}

.alert{
    width: 70%;
    text-align: center;
}

.result{
    border: 1px solid #000000;
    width: 80%;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    
    h3{
        font-size: 2vw;
        margin-bottom: 0;
    }

    hr{
        margin: 0.3rem 0 0.3rem 0;
    }

    p{
        font-size: 1vw;
        margin-bottom: 0;
    }

    a{
        color: #934f00;
    }

    a:hover{
        text-decoration: underline;
    }

    img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }

    .link{
        cursor: pointer;
    }

    .star{
        color: #f7911d;
    }
}

@media (max-width: 1000px){
    .container{
        width: 100%;
    }

    .result{
        width: 100%;
    }
}

@media (max-width: 768px){
    input, button, select{
        margin-top: 10px;
    }

    .search-btn{
        width: 20%;
    }
}

@media (max-width: 886px){
    .result{
        p{
            font-size: 2.5vw;
        }
    }
}

@media (max-width: 465px){
    #map { 
        width: 100%;
    }

    .info{
        margin-left: 20px;
    }

    .result{
        width: 98%;

        p{
            font-size: 3.5vw;
        }

        h3{
            font-size: 4.5vw;
        }
    }
}