<div class="background">
    <div class="container">
        <div class="row mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12-col-12 info">
                <h1>¿Quieres cobrar/pagar con cryptos?</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12-col-12 info">
                <h1>¡Da de alta tu negocio!</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12-col-12 info">
                <p class="">Tu plataforma donde explorar los comercios que aceptan criptomonedas.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12-col-12 info">
                <button (click)="openRegister()" class="mapamask-btn mt-3">Darse de alta</button>
            </div>
        </div>
    
        <div class="row mt-5 center">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12-col-12" [ngClass]="width >= 768 ? 'end' : 'center'">
                <select [(ngModel)]="cityInput" placeholder="Provincia" type="text" class="search-input" style="width: 90%;">
                    <option selected>Ciudad…</option>
                    <option *ngFor="let city of citiesData" [value]="city.provincia">{{ city.provincia }}</option>
                </select>
            </div>
        
            <div class="col-xl-6 col-lg-6 col-md-3 col-sm-12-col-12 center">
                <select [(ngModel)]="sectorInput" name="sector" id="sector" class="search-input" style="width: 90%;">
                    <option selected>Sector…</option>
                    <option value="ocioRestauracion">Ocio y restauración</option>
                    <option value="profesionales">Profesionales</option>
                    <option value="serviciosInformaticos">Servicios informáticos</option>
                    <option value="cuidadoPersonal">Estética y salud</option>
                    <option value="modaComplementos">Moda y complementos</option>
                </select>
            </div>
        
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12-col-12 center">
                <input [(ngModel)]="keywordInput" placeholder="Palabra clave" type="text" class="search-input" style="width: 90%;">
            </div>
        
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12-col-12" [ngClass]="width >= 768 ? 'start' : 'center'">
                <button (click)="searchBusiness(cityInput, keywordInput, sectorInput)" class="mapamask-btn search-btn">Buscar</button>
            </div>
            
        </div>

        <div class="row mt-2 center">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12-col-12" [ngClass]="width >= 768 ? 'end' : 'center'">
                <select [(ngModel)]="villageInput" placeholder="Provincia" type="text" class="search-input" style="width: 90%;">
                    <option selected>Pueblo…</option>
                    <option value="A coruña">A coruña</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5"*ngIf="searchLoading">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6>Loading…</h6>
        </div>
    </div>
    
    <div class="row mt-5" *ngIf="info != ''">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center">
            <h6 class="alert alert-warning" role="alert">{{ info }}</h6>
        </div>
    </div>
    
    <div class="row mt-5" *ngIf="error != ''">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center">
            <h6 class="alert alert-danger" role="alert">{{ error }}</h6>
        </div>
    </div>

    <div class="center">
        <div id="map"></div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center" *ngFor="let business of businessSearch">
            <div class="row mt-4 result" [routerLink]="['/comercio', business.id]" >
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <img [src]="business.image" alt="">
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10" style="padding-left: 20px;">
                            <h3>{{ business.name }}</h3>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 end">
                            <p>{{ business.puntuacion }}<i class="fa-solid fa-star star"></i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-left: 20px;">
                            <p>{{ business.job }}</p>
                            <hr>
                            <p>Web: <a [href]="business.web" target="_blank">{{ business.web }}</a></p>
                            <p>Teléfono: {{ business.phone }}</p>
                            <p>Email: {{ business.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>