a{
    text-decoration: none;
    color: #000000;
}

span{
    font-family: "Avenir Next LT Pro Bold";
    color: #804517;
}

.bg-light{
    background-color: transparent !important;
}

.navbar{
    font-size: 14pt;
}

.logo-cs{
    margin-top: 5rem !important;
}