<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12 col-12">
      <h5 style="font-weight: bold;font-size: 15pt; color: #804517; font-family: 'Montserrat';">
        {{name}}{{owner}}
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12 col-12">
      <h6 style="font-weight: bold; font-size: 12pt; color: rgb(0, 0, 0); font-family: 'Montserrat';">
        {{job}}
      </h6>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-6 col-6 end-vertically">
      <h6 style="font-weight: bold; color: rgb(0, 0, 0); font-family: 'Montserrat';">
        {{distance}}Km
      </h6>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-sm-3 col-3 end">
      <a style="
        border-radius: 10px;
        border: 0;
        background-color: #f7911d;
        color: #ffffff;
        padding: 5px;
        text-decoration: none;"
        href='https://www.google.com/maps/dir/${this.currentLatitude},${this.currentLongitude}/${item.latitude},${item.longitude}' target='_blank'><i class="fa-solid fa-diamond-turn-right fa-xl"></i></a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-sm-3 col-3 end">
      <a style="
        border-radius: 10px;
        border: 0;
        text-decoration: none;
        margin-left: 5px;"
        href='https://www.google.com/search?q=${item.name}+${item.city}' target='_blank'><img style='width: 30px;' src="../../assets/img/google-logo.png" alt="google logo"></a>
    </div>
  </div>