<div class="container register-container">
  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12-col-12 center">
        <h3>Rellena el siguiente formulario...</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12-col-12 center">
        <h3>¡y acepta cryptos en tu negocio!</h3>
    </div>
  </div>

  <div class="container form-container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-5">
          <input [(ngModel)]="name" type="text" placeholder="Nombre">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input [(ngModel)]="email" type="text" placeholder="Correo">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
          <input [(ngModel)]="phone" type="text" placeholder="Teléfono">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input [(ngModel)]="sector" type="text" placeholder="Sector">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
          <input [(ngModel)]="job" type="text" placeholder="Trabajo">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input [(ngModel)]="street" type="text" placeholder="Calle">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
        <input [(ngModel)]="number" type="text" placeholder="Numero">
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input [(ngModel)]="cp" type="text" placeholder="Código postal">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
        <select [(ngModel)]="city" placeholder="Provincia" type="text" class="search-input" style="width: 90%;">
          <option selected>Ciudad…</option>
          <option value="A coruña">A coruña</option>
          <option value="Alava">Alava</option>
          <option value="Albacete">Albacete</option>
          <option value="Alicante">Alicante</option>
          <option value="Almería">Almería</option>
          <option value="Asturias">Asturias</option>
          <option value="Ávila">Ávila</option>
          <option value="Badajoz">Badajoz</option>
          <option value="Barcelona">Barcelona</option>
          <option value="Burgos">Burgos</option>
          <option value="Cáceres">Cáceres</option>
          <option value="Cádiz">Cádiz</option>
          <option value="Cantabria">Cantabria</option>
          <option value="Castellón">Castellón</option>
          <option value="Ceuta">Ceuta</option>
          <option value="Ciudad Real">Ciudad Real</option>
          <option value="Córdoba">Córdoba</option>
          <option value="Cuenca">Cuenca</option>
          <option value="Formentera">Formentera</option>
          <option value="Girona">Girona</option>
          <option value="Granada">Granada</option>
          <option value="Guadalajara">Guadalajara</option>
          <option value="Guipúzcoa">Guipúzcoa</option>
          <option value="Huelva">Huelva</option>
          <option value="Huesca">Huesca</option>
          <option value="Ibiza">Ibiza</option>
          <option value="Jaén">Jaén</option>
          <option value="La Rioja">La Rioja</option>
          <option value="Gran Canaria">Gran Canaria</option>
          <option value="Fuerteventura">Fuerteventura</option>
          <option value="Lanzarote">Lanzarote</option>
          <option value="León">León</option>
          <option value="Lérida">Lérida</option>
          <option value="Lugo">Lugo</option>
          <option value="Madrid">Madrid</option>
          <option value="Málaga">Málaga</option>
          <option value="Mallorca">Mallorca</option>
          <option value="Melilla">Melilla</option>
          <option value="Menorca">Menorca</option>
          <option value="Murcia">Murcia</option>
          <option value="Navarra">Navarra</option>
          <option value="Orense">Orense</option>
          <option value="Palencia">Palencia</option>
          <option value="Pontevedra">Pontevedra</option>
          <option value="Salamanca">Salamanca</option>
          <option value="Tenerife">Tenerife</option>
          <option value="La Gomera">La Gomera</option>
          <option value="La Palma">La Palma</option>
          <option value="El Hierro">El Hierro</option>
          <option value="Segovia">Segovia</option>
          <option value="Sevilla">Sevilla</option>
          <option value="Soria">Soria</option>
          <option value="Tarragona">Tarragona</option>
          <option value="Teruel">Teruel</option>
          <option value="Toledo">Toledo</option>
          <option value="Valencia">Valencia</option>
          <option value="Valladolid">Valladolid</option>
          <option value="Vizcaya">Vizcaya</option>
          <option value="Zamora">Zamora</option>
          <option value="Zaragoza">Zaragoza</option>
      </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input [(ngModel)]="country" type="text" placeholder="País">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
        <input [(ngModel)]="web" type="text" placeholder="Web">
      </div>
    </div>
    
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-3">
        <textarea [(ngModel)]="description" placeholder="Descripción"></textarea>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-3">
        <input type="file">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-3">
        <button class="mapamask-btn" (click)="sendRegisterRequest()">Enviar</button>
        <button class="mapamask-btn" (click)="showAtMap(number, street, cp, city, country)">Comprobar dirección</button>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <div id="map"></div>
</div>