<div class="container register-container">
  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12-col-12 center">
        <h3>Rellena el siguiente formulario... ¡y acepta cryptos en tu negocio!</h3>
    </div>
  </div>
  <div class="container form-container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-5">
          <input type="text" placeholder="Nombre">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input type="text" placeholder="Correo">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
          <input type="text" placeholder="Teléfono">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input type="text" placeholder="Sector">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
          <input type="text" placeholder="Trabajo">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 end mt-3">
        <input type="text" placeholder="Dirección">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 start mt-3">
        <input type="text" placeholder="Web">
      </div>
    </div>
    
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-3">
        <textarea placeholder="Descripción"></textarea>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-3">
        <input type="file">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center mt-3">
        <button class="mapamask-btn" (click)="sendRegisterRequest()">Enviar</button>
      </div>
    </div>
  </div>
</div>