.star{
    color: #f7911d;
}

.rating{
    font-size: xx-large;
}

.business-img{
    width: 40%;
}

.title{
    color: #804517;
}

hr{
    border: 3px solid #f7911d;
    border-radius: 5px;
    opacity: 1;
}

.job{
    margin: -5px 0 0 15px;
}

.description{
    font-size: x-large;
    margin: -5px 0 0 15px;
}

@media (max-width: 500px){
    .business-img{
        width: 100%;
    }

    .rating{
        margin-top: 4px;
        font-size: large;
    }
}